# file options

--swiftversion 5.7

# Fix rules that conflict with swiftlint defaults.
--commas inline # Swiftlint calls for no final comma on collections.
--self init-only # Use explicit `self` in initializers
--disable wrapMultilineStatementBraces # Not our preferred formatting, swiftlint complains.

# Other non-default formatting options.
--ifdef noindent # Do not indent #ifdef blocks.
